.about-image {
  transform: scale(0.42);
  border-radius: 120px;
  margin: -200px auto -200px auto;
  position: relative;
  padding: 0 0 0 0;
  display: block;
}

.about-text {
  width: 307px;
  margin: 20px auto;
}

@include media-query(720px) {
  .about-image {
    margin: -12em auto -10em auto;
    display: inline-block;
  }
}
@include media-query(620px) {
  .about-image {
    margin: -9em auto -7em auto;
  }
}@include media-query(450px) {
  .about-image {
    margin: -6em auto -5em auto;
  }
}

@include media-query(400px) {
  .about-text {
    margin: 50px auto;
  }
}
