/********************
 * Project Previews *
 ********************/

 .main-item {
	position: relative;
	margin-top: 0em;
	margin-bottom: 0.5em;
	font-size: 1em;
}

.main-item:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
}

.main-item + .main-item {
	margin-top: 0.5em;
}

.main-item__project {
  width: 360px;
  height: 225px;
  text-align: center;
  position: relative;
  border-radius: 3px;
  background-size: cover;
  background-position: center;
  display: inline-block;
}

.main-item__project-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  z-index: 2;
  transition: background-color 150ms ease-out;
  border-radius: 3px;
}

.main-item__project a {
  z-index: 3;
  display: block;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
}

.main-item__project-text {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  opacity: 1;
  transition: opacity 150ms ease-out;
}

.main-item__project h3,
.main-item__project h4 {
  color: white;
  margin: 0;
}

.main-item__project h4 {
  font-size: 0.75em;
  font-style: italic;
  font-weight: 400;
}

.main-item__project:hover .main-item__project-overlay {
  background-color: rgba(0, 0, 0, 0);
}

.main-item__project:hover .main-item__project-text {
  opacity: 0;
}

.simon {
  background-image: url("https://img.gs/ggdknhnmbr/360x225/vincecampanale.com/assets/img/simon-screenshot.png");
}

.pomodoro {
  background-image: url("https://img.gs/ggdknhnmbr/360x225/vincecampanale.com/assets/img/pomodoro-timer.png")
}

.calculator {
  background-image: url("https://img.gs/ggdknhnmbr/360x225/vincecampanale.com/assets/img/js-calculator.png")
}

/* Credit goes to Max Stoiber for styling of project cards. Thanks Max! */
