---
layout: default
---
<img class="about-image" src="/assets/img/Headshot.jpeg" />

<div class="about-text">
  <p>
    Welcome to my corner of the internet and thanks for stopping by!
    Here are some lists:
  </p>
  <ul><strong>Stuff I like that doesn't involve telling computers what to do</strong>
    <li>
      Skiing.
    </li>
    <li>
      Music -
        For listening: Chance the Rapper, Vulfpeck, Fugees, California Honeydrops.
        For playing: keyboard and bongos.
    </li>
    <li>
      Lord of the Rings.
    </li>
  </ul>

  <ul><strong>What I'm reading</strong>
    <p>
      Current stack:
    </p>
    <li>
      "Deep Work" by Cal Newport - 10 / 10 would recommend.
    </li>
    <li>
      "The Invention of Nature" by Andrea Wulf - biographies usually aren't my thing, but von Humboldt's life was cooler than fiction.
    </li>
    <li>
      "Async & performance" by Kyle Simpson - illuminating.
    </li>
  </ul>

  If you're into what I'm into (or not), hit me up - contact info in footer.
</div>
