---
layout: default
---
<img class="about-image" src="/assets/img/Headshot.jpeg" />

<div class="about-text">
  <ul>
    <strong>Good Stuff</strong>
    <li>
      Mountains.
    </li>
    <li>
      Music.
        For listening: Chance the Rapper, Vulfpeck, Fugees, California Honeydrops.
        For playing: keyboard and bongos.
    </li>
    <li>
      Lord of the Rings.
    </li>
  </ul>

  <ul>
    <strong>Good Reads</strong>
    <li>
      "The Road Less Travelled" 
      <br>
      <em>M. Scott Peck</em>
    </li>
    <li>
      "The Invention of Nature" 
      <br>
      <em>Andrea Wulf</em>
    </li>
    <li>
      "The Pragmatic Programmer"
      <br>
      <em>Andrew Hunt & David Thomas </em>
    </li>
  </ul>

  If you're into what I'm into (or not), hit me up - contact info in footer.
</div>
