---
layout: default
---
<img class="about-image" src="/assets/img/Headshot.jpeg" />

<div class="about-text">
  <p>
    Yo! Welcome to my corner of the internet and thanks for stopping by!
    Here are some lists:
  </p>
  <ul><strong>Stuff I like that doesn't involve telling computers what to do</strong>
    <li>
      Skiing - my dream is to live on a mountain in a ski-in/ski-out cabin. Big fan of bumps and trees, not really a terrain park guy.
    </li>
    <li>
      Music -
        For listening: Chance the Rapper, John Mayer Live in LA 2008, Vulfpeck, Fugees, California Honeydrops.
        For playing: keyboard and bongos.
    </li>
    <li>
      Lord of the Rings - I read the Silmarillion front to back.
    </li>
    <li>
      FIFA - haven't played much since college but I'll still school you.
    </li>
    <li>
      Tapioca pudding - surefire way to my heart.
    </li>
  </ul>

  <ul><strong>What I'm reading right now</strong>
    <p>
      I've typically got a few books in rotation at any given moment. Current stack:
    </p>
    <li>
      "Lord of the Rings (Fellowship of the Ring)" by J.R.R. Tolkein - even better the fourth time.
    </li>
    <li>
      "Rework" by Jason Freid and David Heinemeir Hansson - great read; wise and practical.
    </li>
    <li>
      "The Invention of Nature" by Andrea Wulf - biographies usually aren't my thing, but this book about the legendary explorer Alexander von Humboldt has got me going.
    </li>
    <li>
      "Programming Javascript Applications" by Eric Elliot - well written, no fluff. Learning a lot from this book.
    </li>
  </ul>

  If you're into what I'm into (or not), hit me up - contact info in footer.
</div>
